<label>Server Name</label>
<input type="text" name="ServerName" class="form-control" (input)="onUpdateServerName($event)">
<!-- <input type="text" name="ServerName" class="form-control" [(ngModel)]="serverName"> -->
<!-- <p>{{ serverName }}</p> -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()"	>Button</button>
<p *ngIf="serverCreated"> New Server was created, {{ serverCreationStatus }}</p>
<!-- <p *ngIf="serverCreated; else noServer"> New Server was created, {{ serverCreationStatus }}</p>
<ng-template #noServer>
	<p>No Server was created!</p>
</ng-template> -->
<app-server></app-server>
<app-server></app-server>

